#include <windows.h>

IDI_ICON1 ICON DISCARDABLE "../icons/ascend_64_64.ico"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "rpi-imager.manifest"

1 VERSIONINFO
FILEVERSION IMAGER_VERSION_CSV
PRODUCTVERSION IMAGER_VERSION_CSV
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName",     "Huawei Technologies Co., Ltd."
            VALUE "FileDescription", "Ascend AI Devkit Imager"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1252
    }
}
