bfg-1.15.0.jar
senior_design_project.git/
senior_design_project/
yolov8训练/best.onnx
yolov8训练/best_yolov8x.om
yolov8训练/my_dataset_add_cup_cell/result_data/train55/weights/best.pt
yolov8训练/my_dataset_add_cup_cell/result_data/train55/weights/last.pt